<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <div class="container">
            <h1>Hey Welcome, This is our Home page!</h1>
        <a href="/download">Download</a>
        </div>
</body>

</html>